@import './scss/spacing.scss';
@import './scss/alignment.scss';
@import './scss/footer.scss';
@import './scss/typography.scss';
@import './scss/navbar.scss';
@import './scss/dimensions.scss';
@import './scss/loader.scss';
@import './scss/card.scss';
@import './scss/color.scss';
@import './scss/alert.scss';
@import './scss/textfield.scss';
@import './scss/block.scss';
@import './scss/carousel.scss';
@import './scss/button.scss';
@import './scss/fit.scss';
@import './scss/fab.scss';
@import './scss/skeleton.scss';
@import './scss/normalize.scss';
@import './scss/popup';
@import './scss/menu.scss';

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  font-family: sans-serif;
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
}

form div {
  margin: 1em;
  display: inline-block;
}

button {
  border: none;
}

a:focus {
  outline: none;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  border-bottom: 1px solid $color-primary;
  margin-top: 3rem;
  margin: 2rem 2rem;
  border-width: 0;
  border-top: 1px solid #e1e1e1;
}

button:focus {
  outline: none;
}

.a-wrapper--opacity {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity 1s;
}

.a-wrapper--left {
  transform: translate3d(-300%, 0, 0);
  transition: 640ms ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.visible {
  transition: 1000ms ease-in-out;
  transform: translate3d(0, 0, 0) !important;
  opacity: 1;
}

.a-wrapper--right {
  transition: 640ms ease-in-out;
  transform: translate3d(300%, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.a-wrapper--top {
  transition: 640ms ease-in-out;
  transform: translate3d(0, 300%, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-none {
  list-style: none;
}

.underline {
  padding-bottom: 3px;
  margin-bottom: 3px;
  border-bottom: 1px solid;
}

.py-10px {
  padding: 0 10px;
}

// LANDING CAROUSEL

#carousel-container {
  width: 100%;
  min-height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: 1s ease-in;
  position: relative;
}
#carousel-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-height: 100%;
  z-index: 0;
}

.carousel-img__previous {
  z-index: -2;
}
.carousel-img__next {
  z-index: -1;
}

.fade--in--fast {
  opacity: 1;
  transition: opacity 0.1s !important;
}

.fade--out--fast {
  opacity: 0 !important;
  transition: opacity 0.1s;
}

.fade--in {
  opacity: 1 !important;
  transition: opacity 0.5s ease-out;
}

.fade--out {
  opacity: 0 !important;
  transition: opacity 0.5s ease-in;
}

.carosuel-name {
  position: absolute;
  bottom: 15;
  background-color: #014085;
  color: white;
  border-radius: 0px 15px 15px 0;
  font-family: thin, 'Montserrat', sans-serif;
  padding: 10px;
  text-align: center;
  left: 0;
}

.single-view-map {
  width: 500px;
  height: 500px;
  position: relative;
  margin: 30px;
}
.h-400px {
  height: 400px;
}

.holding__second {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 40%;
}

.holding__first {
  height: 90vh;
  max-width: 50%;
}

.py-5px {
  padding: 0 5px;
}

.component {
  margin: 8vh 0 0 0;
}

.library {
  position: fixed;
  top: 55px;
  height: 83%;
  width: 100vw;
  left: 0;
  overflow: scroll;
  bottom: 10vh;
  background: #333;
}

.library__playlists {
  background: $color-primary;
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 85px;
}

.library__playlists__button {
  cursor: pointer;
  background: transparent;
  color: white;
}

.library__item {
  cursor: pointer;
  width: 90%;
  border-radius: 2px;
  margin: 5px 0;
  padding: 10px 0;
  min-height: 65px;
  background: #333;
  color: white;
  border-bottom: 1px solid white;
  border-radius: 3px 3px 0 0;
  transition: all 350ms;

  // box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  //   0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.library__item:hover {
  background: #666;
  opacity: 0.7;
}

.library__item.selected {
  background: #666;
  opacity: 0.7;
}

.library__item__inner {
  padding: 10px 0;
  overflow: hidden;
  width: 70%;
}

.player {
  position: fixed;
  height: 100vh;
  width: 100vw;
  bottom: 0;
  left: 0;
  transition: 200ms;
  z-index: 200;
  border-top: 2px solid red;
}

.minimized {
  transform: translateY(88%) !important;
}

.player__title {
  position: absolute;
  background: #222;
  top: 0;
  z-index: 2;
  height: 12%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.12) 0px 2px 10px 0px;
}

.player__top__pause {
  background: transparent;
  width: 50px;
  height: 50px;
  justify-self: center;
}

.hidden {
  display: none;
}

.player__image {
  height: 100%;
  width: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  background: #333;
}

.player__controls {
  position: absolute;
  bottom: 0;
  background: rgba(256, 256, 256, 0.3);
  padding: 10px 0;
  height: 60px;
}

.player__button {
  background: black;
  border-radius: 999px;
  width: 50px;
  height: 50px;
  color: red;
  margin: 0 10px;
}

.player__button--filled i {
  color: red;
  background: transparent;
}

.player__button--empty i {
  color: white;
  background: transparent;
}

.loader__triangle {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  transition: all 0ms;
  transition-delay: 450ms;
  z-index: 300;
  overflow: hidden;
}
.loader__triangle.transitioning {
  height: 0;
  width: 0;
}

.loader__triangle-left {
  position: absolute;
  width: 0;
  height: 0;
  text-indent: -9999px;
  border-bottom: 100vh solid red;
  border-left: 100vw solid transparent;
  transition: all 450ms ease-in-out;
}

.loader__triangle-right {
  position: absolute;
  width: 0;
  height: 0;
  text-indent: -9999px;
  border-bottom: 100vh solid #333;
  border-left: 100vw solid transparent;
  transform: rotate(180deg);
  transition: all 450ms ease-in-out;
}

.loader__triangle-left.transitioning {
  transform: translateX(200%);
}

.loader__triangle-right.transitioning {
  transform: rotate(180deg) translateX(200%);
}

.downloader__link {
  border-radius: 5px;
  margin: 20px 0;
  transition: all 300ms;
}

.downloader__link__divider {
  border-bottom: 1px solid;
  margin: 10px 0;
}

@media only screen and (max-width: 1100px) {
  .holding__first {
    height: 50vh;
    max-width: 100%;
  }
  .holding__second {
    height: 135vh;

    width: 100%;
    margin: 10px;
  }

  .holding__second__child {
    width: 90%;
  }
}
@media only screen and (max-width: 800px) {
  body #footer-container {
    height: auto;
    flex-direction: column;
  }

  body #footer-names-left {
    position: relative;
    text-align: center;
    margin-top: 0;
  }
  body #footer-names-right {
    position: relative;
    text-align: center;
    margin-top: 0;
  }
  .downloader__link__description {
    display: none;
  }
  #footer-container__inner {
    flex-direction: column;
  }
}
